extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/turn') Turn
  a(href='/crazy-eyes') Craaaazy Eyes
  a(href='/dance') Dance, Robot, Dance!
  a(href='/stop') STOP IT ALREADY
