extends layout

block content
	div.container
		div.button.love
			span
				a(href='/love')
		div.button.dance-robot
			span
				a(href='/dance') 
		div.button.drive-forward
			span
				a(href="/drive-forward")
		div.button.turn-right
			span
				a(href='/turn-right')
		div.button.turn-left
			span
				a(href='/turn-left')
		div.button.stop
			span
				a(href='/stop') 
